
/* For smart quotes */
q { quotes: "“" "”" "‘" "’"; }

/* Override section behavior.
 * Top-level <section> to have padding.
 * This makes it easier to work with --section-divs. */
section {
  padding-top: initial;
  padding-bottom: initial;
}
article > section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Make byline (date and/or author) small */
p.byline { font-size: 1rem; }

h2.author{
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom:0;
  padding-top:0.5em;
  line-height: 0;
  font-size:1.4em;
}

h3.date {
/*    color: #C7C2B8;*/
    display: block;
    font-size: 0.8rem;
}

p.affiliation {
    margin-top: 0;
    margin-bottom: 0.25em;
}


@media (max-width: 780px) {
  figure.fullwidth table {
    width: 100%;
  }
}

/* Code blocks
 *
 * Code blocks with a language look like div.sourceCode > pre.sourceCode
 * Otherwise, it's just a pre (without .sourceCode) */
div.sourceCode,
pre:not(.sourceCode) {
  padding: 1.4rem;
  margin: -0.7rem -1.4rem;
  width: 55%;
  font-size: 0.9rem;
  overflow-x: auto;
}

div.sourceCode code,
pre:not(.sourceCode) code {
  font-size: 0.9rem;
}

.fullwidth div.sourceCode,
.fullwidth pre:not(.sourceCode) {
  width: 100%;
}

@media (max-width: 760px) {
  div.sourceCode,
  pre:not(.sourceCode) {
    width: 100%;
  }
}
